.editor {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  padding: 6px 8px;
  width: 50%;
  height: 100%;
  font-family: "Monaco", "SF Mono", "Source Code Pro", "Consolas", monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #FFF;
  resize: none;
}
