.preview {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px 8px;
  width: 50%;
  height: 50%;
  font-family: "Monaco", "SF Mono", "Source Code Pro", "Consolas", monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #FFF;
  overflow: auto;
}
